@import "strip-unit";

// =========================================================================
//
//  PRECISE CONTROL OVER RESPONSIVE SIZING FOR SASS
//  ---------------------------------------------------
//  Indrek Paas @indrekpaas
//
//  Inspired by Mike Riethmuller's Precise control over responsive typography
//  http://madebymike.com.au/writing/precise-control-responsive-typography/
//
// =========================================================================

/// @param {list} $properties - list of properties to use
/// @param {string} $min-size - minumum viewport size in pixels or the name of a map key in $mq-breakpoints
/// @param {string} $max-size - maximum viewport size in pixels or the name of a map key in $mq-breakpoints
/// @param {string} $min-value - minimum value in pixels
/// @param {string} $max-value - maximum value in pixels
/// @param {boolean} $negative - whether the value range should be negative
/// @param {string} $scale - value to multiply all values by
/// @param {string} $adjust - pixel amount to adjust all values by
/// @param {string} $unit - Viewport unit to use

@mixin fluid($properties, $min-size, $max-size, $min-value, $max-value, $negative: false, $scale: 1, $adjust: 0px, $include-min: true, $include-max: true, $unit: 'vw') {

  @if $fluid-min-width and $min-size == 'default' {
    $min-size: $fluid-min-width;
  }
  
  @if $mq-breakpoints and map-has-key($mq-breakpoints, $min-size) {
    $min-size: map-get($mq-breakpoints, $min-size);
  }

  @if $mq-breakpoints and map-has-key($mq-breakpoints, $max-size) {
    $max-size: map-get($mq-breakpoints, $max-size);
  }

  @if $negative {
    $min-value: $min-value * -1;
    $max-value: $max-value * -1;
  }

  $min-value: ($min-value * $scale) + $adjust;
  $max-value: ($max-value * $scale) + $adjust;
  
  @if $include-min {
    @each $property in $properties {
      #{$property}: $min-value;
    }
  }

  @media screen and (min-width: $min-size) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100#{$unit} - #{$min-size}) / #{strip-unit($max-size - $min-size)}));
    }
  }

  @if $include-max {
    @media screen and (min-width: $max-size) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}
