$toolkit-breakpoints: () !default;
$toolkit-font-stacks: () !default;
$toolkit-type-styles: () !default;
$toolkit-sizes: () !default;
$toolkit-colors: () !default;

@forward 'color' show
  color,
  output-color-helpers
with (
  $colors: $toolkit-colors
);

@forward 'fluid' show
  fluid
with (
  $breakpoints: $toolkit-breakpoints,
);

@forward 'size' show
  size,
  output-sizes,
  get-size,
  output-size-custom-properties,
  output-size-helpers
with (
  $breakpoints: $toolkit-breakpoints,
  $sizes: $toolkit-sizes,
);

@forward 'type-styles' show
  type-style,
  get-type-style,
  get-properties-for-type-size-set,
  get-properties-for-type-sizes,
  font-stack-styles,
  filter-fluid-properties,
  output-type-helpers
with (
  $breakpoints: $toolkit-breakpoints,
  $font-stacks: $toolkit-font-stacks,
  $type-styles: $toolkit-type-styles,
);
